<div class="container">
  <div class="titleBar">
    <app-logo></app-logo>
    <app-switch-dark-mode></app-switch-dark-mode>
  </div>

  <mat-grid-list cols="2" rowHeight="2:1">
    <!-- Card do usuário local -->
    <mat-grid-tile class="video-box">
      <p class="video-description" [ngClass]="{'video-description-false': isBlack}">{{ userName }}</p>
      <video #local_video [autoplay]="true"></video>
    </mat-grid-tile>

    <!-- Cards dos usuários remotos (broadcast) -->
    <mat-grid-tile class="video-box" *ngFor="let user of users">
      <p class="video-description">{{ user.name }}</p>
      <video [autoplay]="true" [srcObject]="user.stream"></video>
    </mat-grid-tile>
  </mat-grid-list>

  <div class="botoes">
    <button><i class="fas fa-microphone" (click)="toggleAudio()"></i></button>
    <button (click)="toggleLocalVideo()"><i class="fas fa-video"></i></button>
    <button><i class="fa fa-phone"></i></button>
  </div>
</div>






